@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Overpass&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Overpass;
}
.half-banner{
  background-image: url("./ui/assets/About/unsplash_PTRzqc_h1r4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  z-index: 0;
}
.container {
  width: 90%;
  margin: 100px auto;
  border: 1px solid red;
}
